/* App.css */
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f8f9fa;
}

.section-container {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.section-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
}

.form-row {
  margin-bottom: 15px;
}

.btn-center {
  display: flex;
  justify-content: center;
}

.description-item-container {
  display: flex;
  align-items: center;
}

.description-item-container input {
  flex: 1;
  margin-right: 10px;
  margin-bottom: 5px;
}

/* Specific styling for work experience and education boxes */

.work-experience-box,
.education-box {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 20px;
}

/* Button styling adjustments */

.btn-delete,
.btn-delete-description,
.btn-add-description {
  margin-top: 10px;
  font-size: 0.75rem;
  padding: 0.15rem 0.3rem;
  line-height: 1.5;
}

.btn-primary.btn-center,
.btn-success.btn-center {
  display: block;
  margin: auto;
  margin-top: 20px;
}

/* Responsive adjustments for smaller screens */

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .section-container {
    padding: 15px;
    margin-bottom: 15px;
  }

  .section-heading {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
}
